<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="color:#55acee">tweetscore</h1>
      <hr />
      <div class="input-group" id="input-handle">
        <input type="text" class="form-control" placeholder="Look up twitter username..." ng-model="screen_name">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getTwitterData()">Search</button>
        </span>
      </div>
      <div class="card-header">
        <strong>Filters</strong>
        <div class="row">
          <form name="filterForm">
            <div class="col-xs-4">
              Number of retweets?
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="all_tweets" ng-model="all_tweets" checked> All retweet counts
                </label>
              </div>
              <input type="text" class="form-control" name="retweet_count" ng-model="retweet_count" placeholder="{{ retweet_count }}" ng-pattern="retweetPattern" ng-disabled="all_tweets">
            </div>
            <div class="col-xs-4">
              Dates?
              <div class="row">
                <div class="col-md-12">
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date_start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="col-md-12">
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date_end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of datepicker-->
            <div class="col-xs-4">
              Photo?
              <div class="radio">
                <label>
                  <input type="radio" ng-model="picture_toggle" name="optionsRadios" id="optionsRadios1" value="all" checked>
                  Show all tweets
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="picture_toggle" name="optionsRadios" id="optionsRadios2" value="on">
                  Show tweets with only photos
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="picture_toggle" name="optionsRadios" id="optionsRadios3" value="off">
                  Show tweets with no photos
                </label>
              </div>
            </div><!-- End of photo toggle -->
          </form>
        </div>
      </div> <!-- end of card header -->
      <div style="height:15px;"></div>
    </div>
  </div>
  <div class="row" ng-if="user">
    <div class="col-xs-3" id="profile" style="margin-top:15px;">
      <img src="{{ user.profile_image_url }}" style="width:50%" />
      <h3>{{ user.name }}</h3>
      <h3>Score: {{ formatScore(user.twitter_score) | number }}</h3>
      <small>@{{ user.screen_name }}</small>
      <p>{{ user.description }}</p>
      <p>{{ user.location }}</p>
      <a>{{ user.url }}</a>
      <p>{{ user.created_at }}</p>
    </div> <!--End of profile-->
    <div class="col-xs-9" id="tweets">
      <div style="height:15px;"></div>

      <div class="card-header"></div>
      <div class="card" ng-repeat="tweet in tweets">
        <div class="row">
          <div class="col-xs-12">
            <img src="{{ user.profile_image_url }}" width=48 height=48 />  <strong>{{ user.name }}</strong> <small>@{{ user.screen_name }} - {{ tweet.created_at }}</small>
            <div>{{ tweet.text }}</div>
            <img src="{{ tweet.entities.media[0].media_url }}" style="width:50%" ng-if="tweet.entities.media[0].media_url" />
          </div>
        </div>
      </div> <!--end of card-->
    </div><!--End of tweets-->
  </div>
</div>
