<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="color:#55acee">tweetscore</h1>
      <hr />
      <div class="input-group" id="input-handle">
        <input type="text" class="form-control" placeholder="Look up twitter username..." ng-model="screen_name">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getTwitterData()">Search</button>
        </span>
      </div>
      <div class="card-header">
        <strong>Filters</strong>
        <div class="row">
          <form name="filterForm">
            <div class="col-xs-4">
              Number of retweets?
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="all_tweets" ng-model="all_tweets" checked> All retweet counts
                </label>
              </div>
              <input type="text" class="form-control" name="retweet_count" ng-model="retweet_count" placeholder="{{ retweet_count }}" ng-pattern="retweetPattern" ng-disabled="all_tweets">
            </div>
            <div class="col-xs-4">
              Dates?
              <div class="row">
                <div class="col-md-12">
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date_start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="col-md-12">
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="date_end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- End of datepicker-->
            <div class="col-xs-4">
              Photo?
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Show all tweets
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Show tweets with only photos
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                  Show tweets with no photos
                </label>
              </div>
            </div><!-- End of photo toggle -->
          </form>
        </div>
      </div> <!-- end of card header -->
      <div style="height:15px;"></div>
    </div>
    <div class="row">
      <div class="col-xs-3" id="profile" style="margin-top:15px;">
        <img src="{{ user }}" style="width:100%" />
        <h3>{{ data.name }}</h3>
        <small>@{{ data.handle }}</small>
        <p>{{ data.description }}</p>
        <p>{{ data.location }}</p>
        <a>{{ data.external_link }}</a>
        <p>{{ data.join_date}}</p>
      </div> <!--End of profile-->
      <div class="col-xs-9" id="tweets">
        <div id="tweetscore" style="margin-left:2px;">
          <h3>Score: {{ data.tweetscore }}</h3><small> Based on</small>
          <div class="row">
            <div class="col-xs-4">Number of followers: {{ data.follower_count }}</div>
            <div class="col-xs-4">Content of tweets: {{ data.tweet_content }}</div>
            <div class="col-xs-4">Followers scores: {{ data.followers_score }}</div>
          </div>
        </div> <!-- End of tweetscore section-->
        <div style="height:15px;"></div>

        {% for tweet in data.tweets %}
        <div class="card">
          <div class="row">
            <div class="col-xs-12">
              <img src="{{ data.photo_link }}" width=48 height=48 />  <strong>{{ data.name }}</strong> <small>@{{ data.handle }} - {{ data.join_date }}</small>
              <div>{{ tweet.text }}</div>
              <img src="{{ tweet.media }}" style="width:100%" />
            </div>
          </div>
        </div> <!--end of card-->
        {% endfor %}
      </div><!--End of tweets-->
    </div>
  </div>
</div>
