<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>tweetscore</title>
    <meta name="description" content="How do you rank on tweetscore?">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/web/css/main.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 style="color:#55acee">tweetscore</h1>
          <hr />
          <div class="input-group" id="input-handle">
            <input type="text" class="form-control" placeholder="Look up twitter username...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
          <div style="height:15px;"></div>
          <div class="row">
            <div class="col-xs-3" id="profile">
              <img src="" />
              <h3>Name</h3>
              <small>@handle</small>
              <p>Description</p>
              <p>Location</p>
              <a>Link</a>
              <p>Joined</p>
            </div> <!--End of profile-->
            <div class="col-xs-9" id="tweets">
              <div id="tweetscore" style="margin-left:2px;">
                <h3>Score: 730</h3><small> Based on</small>
                <div class="row">
                  <div class="col-xs-4">Number of followers:</div>
                  <div class="col-xs-4">Content of tweets</div>
                  <div class="col-xs-4">Followers scores</div>
                </div>
              </div> <!-- End of tweetscore section-->
              <div style="height:15px;"></div>
              <div class="card-header">
                <strong>Filters</strong>
                <div class="row">
                  <div class="col-xs-4">Number of re-tweets</div>
                  <div class="col-xs-4">Dates</div>
                  <div class="col-xs-4">Photo?</div>
                </div>
              </div> <!-- end of card header -->
              <div class="card">
                <div class="row">
                  <div class="col-xs-12">
                    <strong>Name</strong> <small>@handle - date</small>
                    <img src="" />
                    <div>my tweet!</div>
                    <img src="" />
                  </div>
                </div>
              </div> <!--end of card-->
              <div class="card">
                <div class="row">
                  <div class="col-xs-12">
                    <strong>Name</strong> <small>@handle - date</small>
                    <img src="" />
                    <div>my tweet!</div>
                    <img src="" />
                  </div>
                </div>
              </div> <!--end of card-->
            </div><!--End of tweets-->
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
